.discount {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  background: rgb(246 247 248 / 50%);

  &__price {
    padding: 16px 0 12px;
    font-weight: 700;
    font-size: 31px;
    line-height: 125%;
    text-align: center;
    color: #0084ff;
    background: #edf8ff;
  }

  &__promocode {
    padding: 17px 0 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 135%;
    color: #31333e;

    span {
      color: #0084ff;
    }
  }

  &__text {
    @include adaptiv-value(padding-bottom, 30, 15, 1);
    border-top: 1px solid rgb(228 228 228 / 70%);
    padding-top: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    text-align: center;
    color: #838383;
  }
}
