.form {
  display: flex;
  flex-direction: column;
  @media screen and (width <= 750px) {
    min-width: 345px;
  }

  &__item:nth-child(1) {
    position: relative;

    &::before {
      content: 'Ваш номер телефона';
      position: absolute;
      margin-top: -8px;
      margin-left: 26px;
      padding: 0 6px;
      font-weight: 400;
      font-size: 14px;
      line-height: 135%;
      color: #838383;
      background-color: white;
    }
  }

  &__item:nth-child(2) {
    @include adaptiv-value(margin-top, 15, 10, 1);
    @include adaptiv-value(margin-bottom, 15, 10, 1);
  }

  &__input {
    border: 1.5px solid #efefef;
    border-radius: 15px;
    padding: 20px 0 20px 45px;
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    line-height: 135%;
    color: #31333e;
  }

  &__item-btn {
    border-radius: 15px;
    padding-top: 22px;
    padding-bottom: 22px;
    @include adaptiv-value(font-size, 20, 18, 1);
    font-weight: 550;
    line-height: 100%;
    text-align: center;
    color: white;
    background-color: #0084ff;
    transition: all 0.3s linear;
    cursor: pointer;

    &::after {
      background-image: url('./../img/arrow_right_white.svg');
      transform: translate(200%, 50%);
    }

    &:hover {
      background-color: #309bff;
    }
  }
}

// .input {
//   &__tel {
//   }

//   &__name {
//   }
// }
