.header {
  @include adaptiv-value(border-bottom-left-radius, 99, 40, 1);
  @include adaptiv-value(border-bottom-right-radius, 99, 40, 1);
  background-color: white;

  &__inner {
    @include adaptiv-value(height, 112, 123, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    margin-right: 30px;
    width: 116px;
    height: 71px;
  }

  &__text {
    @include maxwidth(346);
    @include adaptiv-value(font-size, 16, 14, 1);
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    color: #31333e;
  }

  &__tel {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    @include adaptiv-value(max-width, 264, 345, 1);
    width: 100%;
    @include adaptiv-value(height, 53, 35, 1);
    background-color: #f6f7f8;
  }

  &__tel-link {
    @include adaptiv-value(font-size, 24, 20, 1);
    font-weight: 700;
    font-style: normal;
    line-height: 125%;
    color: #309cff;
  }
}

@media screen and (width <= 420px) {
  .header {
    &__inner {
      flex-direction: column;
    }

    &__text {
      line-height: 135%;
      color: #90929a;
    }

    &__tel {
      background-color: #e2f1ff;
    }

    &__tel-link {
      color: #309cff;
    }
  }
}
