.title-main {
  @include adaptiv-value(font-size, 60, 32, 1);
  font-weight: 550;
  font-size: 60px;
  line-height: 110%;
  text-align: center;
  color: #31333e;
}

.promo {
  &__header-blocks {
    display: flex;
    justify-content: space-between;
  }

  &__header-block {
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    max-width: 695px;
    background-color: white;
  }

  &__header-discr {
    margin-top: 32px;
    margin-bottom: 37px;
    margin-left: 40px;
  }

  &__header-title.arrow-right {
    display: none;
  }

  &__header-text {
    @include adaptiv-value(margin-bottom, 46, 30, 1);
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #90929a;
  }

  &__header-img {
    position: relative;
    border-radius: 0 15px 15px 0;

    &::before,
    &::after {
      @include adaptiv-value(height, 253, 145, 1);
      content: '';
      position: absolute;
      display: inline-block;
      width: 100%;
      max-width: 296px;
    }

    &::before {
      background: linear-gradient(133.04deg, #98b5ff 9.59%, rgb(153 182 255 / 76%) 94.37%);
    }

    &::after {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  &__header-btn {
  }
}

.promo-car {
}

.promo-car-img {
}

.promo-percent {
}

.promo-percent-text {
}

.promo-percent-img {
}
