.car {
  &__card-inner {
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
    margin-top: 15px;
    row-gap: 30px;
  }

  &__card-block {
    cursor: pointer;
  }

  &__card-img {
    border-radius: 15px;
    padding: 6px 15px;
    transition: all 0.3s linear;
    @include adaptiv-value-in-min(width, 339, 230, 940, 620);
    @media screen and (width <= 620px) {
      width: 339px;
    }
  }

  &__card-text {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 7px;
  }

  &__card-title {
    margin-right: 12px;
    font-weight: 700;
    @include adaptiv-value(font-size, 28, 26, 1);
    line-height: 140%;
    color: #31333e;
    transition: all 0.3s linear;
  }

  &__card-inStock {
    border-radius: 36px;
    padding: 3px 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    color: #8d8d8d;
    background: #f4f6f7;
  }

  &__card-price {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #8d8d8d;

    .price-car {
      color: inherit;
    }
  }

  &__card-block:hover {
    .car {
      &__card-img {
        background-color: #f6f7f8;
      }

      &__card-title {
        color: #0084ff;
      }
    }
  }

  &__card-block.active {
    .car {
      &__card-img {
        background-color: #e2f1ff;
      }

      &__card-title {
        color: #0084ff;
      }
    }
  }
}
