.discount {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: rgb(246 247 248 / 50%);

  &__price {
    border-radius: 15px 15px 0 0;
    padding: 16px 0 12px;
    font-weight: 700;
    font-size: 31px;
    line-height: 125%;
    text-align: center;
    color: #0084ff;
    background-color: #edf8ff;
  }

  &__promocode {
    padding: 17px 0 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 135%;
    color: #31333e;

    span {
      color: #0084ff;
    }
  }

  &__text {
    $padding: 54px;
    border-top: 1px solid rgb(228 228 228 / 70%);
    padding-top: 12px;
    @include adaptiv-value(padding-bottom, 30, 15, 1);
    padding-right: $padding;
    padding-left: $padding;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    text-align: center;
    color: #838383;
    @media screen and (max-width: 750px) {
      $padding: 25px;
      padding-right: $padding;
      padding-left: $padding;
    }
  }

  &__price,
  &__promocode,
  &__text {
    text-align: center;
  }
}
